.main {
  min-height: 100vh;
  margin: auto;
  width: 100%;
  max-width: 96rem;
  
  padding: 12rem 2rem;

  @media (max-width: 1000px) {
    padding: 8rem 2rem;
    width: 80%;
  }
  @media (max-width: 800px) {
    padding: 4rem 2rem;
    width: 100%;
  }
}
