.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;

  @media (max-width: 1000px) {
    grid-template-columns: 1fr 1fr;
    gap: 1.6rem;
  }
  @media (max-width: 600px) {
    grid-template-columns: 1fr;
    gap: 1.6rem;
  }

  > :first-child {
    grid-column-end: span 2;
    @media (max-width: 600px) {
      grid-column-end: unset;
    }
  }
}
